body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    /*обнуление для блоков*/
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

.slider {
    min-height: 800px;
    padding-left: 98px;
    padding-right: 98px;
    background-image: url(../img/slider-img@1X.png);
    background-size: cover;
    position: relative;
}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
    border-radius: 8%;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}


.slider-text {
    padding-top: 283px;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 22px;
}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 200;
    text-transform: uppercase;
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    max-width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
    opacity: 1;
}

.button {
    width: 212px;
    height: 45px;
    line-height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    text-align: center;
    display: inline-block;
    letter-spacing: 3.6px;
    position: relative;
}

.button-text {
    position: absolute;
    left: 30px;
}

.order-arrow {
    right: 30px !important;
}

.button-arrow {
    width: 9px;
    height: 13px;
    position: absolute;
    right: 0;
    bottom: 17px;
}

.button:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.circle:hover {
    background-color: #212121;
}

.padding-site {
    padding-left: 97px;
    padding-right: 96px;
}

.featured-products {
    margin: 120px 0px;
    min-height: 370px;
    max-width: 1366px;
    position: relative;
}

.tab-control {
    height: 49px;
    width: 301px;
}

.tab-control-link {
    color: #6C6C6C;
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid #212121;
}

.tab-control-link:first-child {
    width: 187px;
}

.tab-control-link:last-child {
    width: 113px;
}

.tab-control-link-active {
    border-bottom: 3px solid #212121;
    color: #212121;
}

.tab-control-link:hover {
    color: #080052;
}


.btn-ghost {
    min-height: 14px;
    max-width: 179px;
    position: absolute;
    top: 17px;
    right: 97px;
}

.btn-ghost-text {
    color: #6c6c6c;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.5px;

}

.btn-ghost-text:hover {
    color: #080052;
}

.btn-ghost-arrow {
    width: 10px;
    height: 13px;
    margin-left: 11px;
    margin-bottom: 2.5px;
}

.tab-content {
    min-height: 270px;
    max-width: 1173px;
    padding-top: 49px;
    display: flex;
}

.hover-block {
    width: 270px;
    height: 270px;
    margin-bottom: 10px;
}

.hover-block:hover .hover-layer {
    display: initial;
}

.hover-block:nth-child(-n+3) {
    margin-right: 30px;
}

.hover-layer {
    position: absolute;
    width: 270px;
    height: 270px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    outline: 3px solid grey;
    display: none;
}

.hover-layer-button {
    width: 48px;
    height: 48px;
    margin: 62px 111px 19px;
}

.hoverbutton {
    background-color: #ffffff;
    width: 48px;
    height: 48px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    display: inline-block;
}

.hoverbutton:hover {
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.35);
}

.hover-layer-button-image {
    margin: 14px 19px;
}

.hover-layer-header {
    height: 17px;
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 23px;
}

.hover-layer-text {
    width: 206px;
    color: #6c6c6c;
    font-size: 15px;
    font-weight: 20;
    letter-spacing: -1px;
    margin-left: 32px;
}

.promo-product {
    height: 683px;
    max-width: 1366px;
    min-width: 683px;
    display: flex;
}

.promo-content-1,
.promo-content-2 {
    width: 683px;
    height: 683px;
}

.promo-content-1 {
    background-image: url(../img/promo-img1@1X.png);
}

.promo-content-2 {
    background-image: url(../img/promo-img2@1X.png);
}

.promo-text {
    margin-left: 50px;
}

.promo-exclusive {
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #1E88E5;
    font-size: 18px;
    text-transform: uppercase;
    margin: 228px 517px 18px 0;
}

.promo-h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 24px 0;
}

.promo-content {
    font-weight: 300;
    max-width: 374px;
    margin: 0 0 33px 0;
    font-size: 14px;
}

.trending-products {
    margin-top: 119px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}

.trending-products-name {
    width: 331px;
    height: 35px;
    grid-column: 1/3;
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 34px;
}

.trending-btn-ghost {
    width: 179px;
    height: 16px;
    color: #212121;
    margin-left: 192px;
    margin-top: 17px;
}

.slider2 {
    background-image: url(../img/slider2.png);
    margin-top: 120px;
}

.hot-deal {
    color: #E53935;
}

.exclusive-product {
    margin: 120px 98px 0 98px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
}

.exclusive-product>div {
    width: 570px;
    height: 570px;
}

.exclusive-products {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
}

.exclusive-products>div {
    width: 270px;
    height: 270px;
}

.exclusive-main {
    background-image: url(../img/product-1-lg@1X.png);
}

.mobile-app {
    margin-top: 120px;
    height: 516px;
    background-image: url(../img/back-img@1X.png);
    position: relative;
}

.mobile-app-content {
    position: absolute;
    left: 99px;
    top: 125px;
}

.mobile-app-tag {
    width: 128px;
    height: 13px;
    color: #6c6c6c;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 22px;
}

.mobile-app-find {
    width: 407px;
    height: 116px;
    color: #212121;
    font-size: 58px;
    font-weight: 200;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: -3px;
    margin-bottom: 26px;
}

.mobile-app-save {
    width: 413px;
    height: 21px;
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -1px;
    margin-bottom: 33px;
}

.footer {
    width: 1170px;
    height: 264px;
    background-color: #f7f7f7;
    padding-bottom: 30px;
    padding-top: 120px;
    padding-left: 98px;
    padding-right: 98px;
    position: relative;
}


.footer-contact {
    width: 220px;
    margin-right: 80px;
    float: left;
}

.footer-contact-header {
    width: 250px;
    height: 13px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 25px;
}

.footer-contact>p {
    height: 60px;
    color: #414040;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}

.footer-info {
    width: 422px;
    margin-right: 78px;
    float: left;
}

.footer-info-header {
    width: 250px;
    height: 13px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 25px;
}

.useful-info1 {
    width: 132px;
    margin-right: 103px;
}

.useful-info {
    float: left;
    display: inline-block;
    list-style: none;
    letter-spacing: 2px;
}

.useful-info-list>a {
    text-decoration: none;
    height: 62px;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.useful-info2 {
    width: 187px;
}

.footer-subscribe {
    width: 370px;
    float: left;
}

.footer-subscribe-header {
    width: 250px;
    height: 13px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 25px;
}

.subscribe-text {
    height: 60px;
    font-size: 14px;
    line-height: 22px;
    color: #414040;
    font-weight: 600;
}

.email-form {
    background-color: #ffffff;
    border: 1px solid #d9dee1;
    position: relative;
    height: 48px;
}

.email-form>input[type="text"] {
    width: 300px;
    height: 28px;
    outline: none;
    background-color: #ffffff;
    color: #414040;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    padding-left: 19px;
    border: none;
    margin-top: 10px;
}

.email-form>input[type="submit"] {
    width: 21px;
    height: 17px;
    outline: none;
    border: none;
    position: absolute;
    top: 16px;
    right: 14px;
    background-image: url(../img/send-mail.svg);
    background-color: white;
    background-repeat: no-repeat;
}

.footer-footer {
    clear: both;
    width: 1170px;
    height: 30px;
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.footer-footer>p {
    width: 362px;
    height: 9px;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    float: left;
}

.footer-footer>a {
    width: 349px;
    height: 12px;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    text-decoration: none;
}

.fa {
    padding: 2px;
    font-size: 18px;
    width: 22px;
    text-align: center;
    text-decoration: none;
    margin: 0px 1px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}