html {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.maintext {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
    line-height: 25px;
}

header {
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}

.content {
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
}

footer {
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}

/* Выше - прижали футер к низу */
* {
    box-sizing: border-box;
    /*обращение ко всем элементам на странице : не учитываем паддинги и маргины
    в расчете размеров блоков*/
}

.product-header {
    margin-bottom: 15px;
    font-size: 25px;
}

.char {
    /* маркированный cписок характеристик товаров */
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    list-style-image: url(img/mark.png);
    /* Путь к изображению маркера */
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
    line-height: 50px;
}

nav ul li a:hover {
    /*стили при наведении мышки на ссылку в меню */
    color: rgb(3, 3, 3);
    background-color: rgb(255, 255, 255);
    transition: linear 0.6s;
}

input {
    display: inline-block;
    color: rgb(12, 12, 12);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(194, 193, 193);
    width: 300px;
    height: 40px;
    padding: 2px;
    /* Поля вокруг текста */
    transition: 0.5s linear;
    /* Время изменения */
    text-transform: capitalize;
}

input:hover {
    color: rgb(55, 2, 247);
    background: rgb(255, 255, 255);
}

.submit {
    font-weight: bold;
    font-size: 18px;
    width: 150px;
}

.BuyButton {
    border: 1px solid rgb(255, 0, 0);
    background-color: white;
    height: 40px;
    width: 120px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 15px;
}

.BuyButton:hover {
    color: rgb(255, 255, 255);
    background: rgb(255, 0, 0);
}

.BuyButton:active {
    color: rgb(0, 0, 0);
    background: rgb(247, 180, 180);
}

.email:focus {
    color: rgb(247, 0, 0);
    background-color: rgb(225, 252, 249);
}

.gender {
    width: 20px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 40px;
}

td {
    border: 1px solid #000;
}

td:nth-child(odd) {
    font-weight: bold;
}

p:first-letter {
    color: rgb(94, 94, 94);
    font-family: fantasy;
    /*в боди с классом товар все первые буквы абзацев другие*/
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    float: left;
    margin-top: 15px;
}

nav {
    float: right;
    margin-top: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 30px;
}

.content {
    text-align: center;
}

footer {
    /* Позиционируем footer внизу main */
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(51, 51, 51);
}

footer p {
    float: right;
    color: rgb(250, 250, 250);
    font-size: x-small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    right: 2%;
    bottom: 40%;
}

header {
    height: 120px;
    background-image: url(../img/fon2.jpg);
}

.headername {
    color: rgb(253, 253, 253);
    display: block;
    float: left;
    margin-left: 50px;
    margin-top: 25px;
}

.products {
    display: inline-block;
    width: 280px;
    margin: 20px;
    position: relative;
    top: 30%;
}

.products img {
    width: 250px;
    height: 100px;
}

.product-link {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    padding: 5px;
}

.product-link:hover {
    transition: linear 0.6s;
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
}

iframe {
    width: 100%;
    height: 374px;
    margin: 30px;
}

.shortdescription {
    width: 100%;
    position: relative;
    height: 250px;
}

.product-char {
    position: relative;
    top: 30%;
    text-align: justify;
    left: 2%;
}

.desert-char {
    position: relative;
    top: 7%;
    text-align: justify;
    left: 2%;
}

.cz750-char {
    position: relative;
    text-align: justify;
    left: 2%;
}

.product-image {
    display: block;
    float: left;
}

.addtocartbutton {
    position: absolute;
    bottom: 0;
    left: 0;
}

.characteristics {
    display: inline-block;
    clear: both;
    margin-top: 25px;
    width: 100%;
    position: relative;
    height: 230px;
}

.addlinks {
    display: inline-block;
    clear: both;
    margin-top: 30px;
}

.product-table {
    float: left;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    width: 600px;
    text-align: center;
    border-collapse: collapse;
    line-height: 20px;
}

.productlink {
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 7px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    line-height: 27px;
    text-decoration: none;
}

.productlink:hover {
    /*стили при наведении мышки на ссылку в меню */
    color: rgb(109, 107, 255);
    background-color: rgb(255, 255, 255);
    transition: linear 0.3s;
}

.container select {
    margin: 10px;
    height: 30px;
}